<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        {% for article in articles %}
            <p>{{ article["content"] | truncate(length = 225)}}</p>
            {% if article["seen"] == [] %}
                <p>No one has seen this article before.</p>    
            {% else %} 
            <p>Seen by
                {% for name in article["seen"] %}
                    {% if article["seen"] | length == 1 %}
                       {{name}}
                    {% elif loop.last %}
                      and {{name}}.
                    {% else %}
                       {{name}},
                    {% endif %}
                {% endfor %}
            </p>
            {% endif %} 
        {% endfor %}
    </body>
</html>